.title {
   padding-top: 4%;
   padding-bottom: 4%;
   letter-spacing: 4px;
   animation: fadeInAnimation ease 5s;
}
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.body {
   display: grid; 
   grid-template-columns: 2fr 3fr;
}

.about {
   padding-top: 3%;
   padding-left: 10%;
   width: 60%;
   line-height: 200%;
   color: #4B4C4C;
   text-align: left;
}

.skillsContainer {
   padding-top: 10px;
   padding-left: 44.8%;
   width: 35%;
   color: #4B4C4C;
   text-align: left;
}

ul {
   margin: 0;
   padding: 0;
}

.skills li {
   list-style: none;
   color: #4B4C4C;
   line-height: 200%;
   font-size: medium;
}

hr {
   border-color: #EEE5E0;
   background-color: #EEE5E0;
}

.imageContainer {
   position: relative;
   padding-left: 50%;
}

.box {
   position: absolute;
   top: 6%;
   right: 15%;
   width: 190px; 
   height: 335px;
   border: solid 5px #BDC9BD;
   z-index: 1;
}

.contact {
   display: flex;
   justify-content: flex-start;
   position: absolute; 
   left: -60px;
   bottom: -120px;
}

.pfp {
   position: relative;
   z-index: 2;
}

.skillsContainer {
   width: 60%;
   grid-column-start: 2; 
   grid-column-end: 3;
   padding-left: 10%;
   padding-top: 3%;
}

.skills {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.emailIcon {
   padding-left: 52%;
}

.email {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #4B4C4C;
}

