.title {
   padding-top: 4%;
   padding-bottom: 4%;
   letter-spacing: 4px;
   animation: fadeInAnimation ease 5s;
}
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.body {
   display: grid; 
   grid-template-columns: 2fr 3fr;
}

.about {
   padding-top: 3%;
   padding-left: 10%;
   width: 60%;
   line-height: 200%;
   color: #4B4C4C;
   text-align: left;
}

.skillsContainer {
   padding-top: 10px;
   padding-left: 44.8%;
   width: 35%;
   color: #4B4C4C;
   text-align: left;
}

ul {
   margin: 0;
   padding: 0;
}

.skills li {
   list-style: none;
   color: #4B4C4C;
   line-height: 200%;
   font-size: medium;
}

hr {
   border-color: #EEE5E0;
   background-color: #EEE5E0;
}

.imageContainer {
   position: relative;
   padding-left: 50%;
}

.box {
   position: absolute;
   top: 7%;
   right: 14%;
   width: 195px; 
   height: 335px;
   border: solid 5px #BDC9BD;
   z-index: 1;
}

.contact {
   display: flex;
   justify-content: flex-start;
   position: absolute; 
   right: 5%;
   bottom: -40%;
}

.pfp {
   position: relative;
   z-index: 2;
}

.skillsContainer {
   width: 60%;
   grid-column-start: 2; 
   grid-column-end: 3;
   padding-left: 10%;
   padding-top: 3%;
}

.skills {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.emailIcon {
   padding-left: 55%;
}

.email {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #4B4C4C;
}

@media screen and (max-width: 800px) {
   .title {
      padding-top: 4%;
      padding-bottom: 4%;
      letter-spacing: 2px;
      animation: fadeInAnimation ease 5s;
   }
   
   .body {
      display: flex;
      flex-direction: column;
   }

   .imageContainer {
      display: flex; 
      justify-content: center;
      padding-left: 0;
   }

   .pfp {
      width: 50%;
      position: relative;
   }

   .box {
      width: 52%; 
      height: 100%;
      right: 30%;
   }

   .contact {
      display: flex;
      justify-content: flex-start;
   }

   .about {
      padding-top: 35%;
      width: 80%;
      text-align: center;
   }

   .skillsContainer {
      text-align: center;
      text-align: center;
      width: 80%;
   }
  
   .emailIcon {
      margin-left: -5%;
   }
}

