.text {
    width: 35%;
    padding-left: 3%;
    padding-right: 10%;
    text-align: left;
    color: #4B4C4C;
}

hr {
    border-color: #EEE5E0;
    background-color: #EEE5E0;
}

.container {
    display: flex; 
    justify-content: center;
    padding: 40px 40px 40px 0px;
}

.link {
    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
    position: relative;
    color: #97877e;
    line-height: 200%;
}

.link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #c7b2a6;
}
  
.linkLtr::before {
    width: 0%;
    bottom: -5px;
}
  
.linkLtr:hover::before {
    width: 100%;
}

button {
    margin: 8% 2% 0% 2%;
    width: 4%;
    height: 100%;
    padding: 10px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    outline: none;
}

button:hover {
    background-color: #c7b2a691;
    transition: 0.5s;
}

